.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  display: flex;
  /* height: 100%; */
  /* width:100% */
}

.Main {
  height: 100%;
  width: 100%;
  display: grid;
  background-color: #17181a;
  /* padding: 3em; */
  /* min-height: 94vh;
  width: 100%; */
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}
/* style={{marginLeft:'50px', marginTop:'50px', marginRight:'50px'}} */
.Map {
  /* overflow-y: auto;
  overflow: hidden; */
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 1px 2px #f4f4f7;
  /* flex-wrap: wrap; */
  /* margin-bottom:2rem; */
  margin-right: 2rem;
  margin-bottom: 4em;
  margin-left: 2em;
  /* height: 60rem; */
}
.boxdiv {
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 1px 0px #f4f4f7;
  /* box-shadow: 1px 1px 1px 2px #f4f4f7; */
  flex-wrap: wrap;
  margin-left: 1rem;
}

/* style = {{padding:'1rem', width:'100%', flexWrap:'wrap'}} */
.box-shadow-md {
  display: flex;
  flex-direction: row;
  /* box-shadow: 1px 2px 9px #f4aab9; */
  box-shadow: 1px 1px 1px 2px #f4f4f7;
  /* margin-top: 3rem; */
  background-color: #2e2e2f;
  /* width: 100%; */
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
}
.Main .map-header {
  box-shadow: 1px 1px 1px 2px #f4f4f7;
  font-size: xx-large;
  color: white;
  font-family: "Lucida Sans", sans-serif;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #0993b9;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 1em;
  /* margin:2em; */
}

/* .boxdiv {
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 1px 2px #f4f4f7;
  flex-wrap: wrap;
} */
.map-filter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: teal;
}
.pci-filter {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  padding: 1rem;
  background-color: teal;
}
/* .map-filter {
  position:absolute;
  display:block;
  box-shadow: 1px 1px 1px 2px #f4f4f7;
  font-size:xx-large;
  color: white;
  font-family:'Lucida Sans', sans-serif;
  padding: 1rem;
  width: 20%;
  left: 7%;
  top:70%;
  margin-top: 13%;
} */

.text-boxes {
  position: relative;
  background-color: #17181a;
  box-shadow: 1px 1px 1px 2px #f4f4f7;
  font-size: larger;
  color: #078d51;
  font-family: "Lucida Sans", sans-serif;
  padding-bottom: 0rem;
  width: 15rem;
  height: 12rem;
  margin-bottom: 1%;
  /* left: 3%; */
  margin-top: 0.5%;
  padding: 2rem;
  margin: 1.5rem;
}
.tchart-boxes {
  position: relative;
  background-color: #17181a;
  box-shadow: 1px 1px 1px 2px #f4f4f7;
  font-size: larger;
  color: #078d51;
  font-family: "Lucida Sans", sans-serif;
  width: 20rem;
  height: 16rem;
  /* width: 14rem;
  height:12rem; */
  margin-bottom: 1%;
  /* left: 1%; */
  margin-top: 0.5%;
  /* margin-left: 5rem; */
  /* padding: 2rem; */
  /* padding-left: 5rem; */
  margin: 1.5rem;
}
.chart-boxes {
  position: relative;
  background-color: #17181a;
  box-shadow: 1px 1px 1px 2px #f4f4f7;
  font-size: larger;
  color: #078d51;
  font-family: "Lucida Sans", sans-serif;
  width: 28rem;
  height: 16rem;
  /* width: 14rem;
  height:12rem; */
  margin-bottom: 1%;
  /* left: 1%; */
  margin-top: 0.5%;
  /* padding: 2rem; */
  margin: 1.5rem;
}

.load-more {
  /* flex-wrap: wrap; */
  /* width: 100%; */
  margin-bottom: "2rem";
}
.btn-grad {
  /* display: flex; */
  /* flex-wrap: wrap; */
  width: 25%;
  padding: 2rem;
  margin: auto;
  margin-top: 2rem;
  box-shadow: 1px 1px 1px 1px #078d51;
  border-radius: 15px;
  font-size: x-large;
  /* background-color: #0993b9; */
  /* background-color:  */
  background-image: linear-gradient(rgb(0, 213, 255), rgb(165, 245, 119));
}

.view-header {
  margin-top: 1rem;
  box-shadow: 1px 1px 1px 2px #f4f4f7;
  font-size: large;
  color: white;
  font-family: "Lucida Sans", sans-serif;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #76d5ef;
}
.icon-sizes {
  width: 3rem;
  height: 3rem;
  margin-bottom: -0.5rem;
  margin-top: -0.5rem;
  margin-right: -1rem;
}
.img-buttons {
  /* margin-top: 1rem; */
  /* box-shadow: 1px 1px 1px 2px #f4f4f7; */
  font-size: large;
  color: black;
  font-family: "Lucida Sans", sans-serif;
  /* padding: 1rem; */
  justify-content: center;
  align-items: center;
  background-color: #76d5ef;
  margin: -0.1rem;
  margin-right: 0.2rem;
}
.img-label {
  font-family: "Lucida Sans", sans-serif;
  font-weight: 600;
  /* font-size: 50pt; */
  justify-content: center;
  align-items: center;
  /* padding-left: 5rem; */
  margin-left: 15rem;
}

.img-container {
  display: inline;
  /* display: inline-flex; */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  max-height: 50rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
